
body {
  background-color:#edf6f9 !important;
}

/* navbar styling */
.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: rgb(117, 225, 224) !important;
}

/* buttons styling */
.btn {
  background-color: rgb(117, 225, 224) !important;
  border: none !important;
}

.btn:hover {
  background-color: palevioletred !important;
}
.btn-contact {
  margin-top: 1.5rem !important;
}

/* footer styling */
.icon {
  color: black;
}

.icon:hover {
  color: rgb(117, 225, 224);
}


.footer {
  padding: 2rem !important;
}
